input[type="file"] {
    
    display: none;
    
}
.custom-file-upload {
    border: 1px solid #ccc;
    background-color: rgb(4, 0, 255);
    color: white;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 0px;
}
.btn-style{
    border: none;
    background-color: orange;
    font-size: 20px;
    font-weight: 5
    000;
    width: 177px;
    height: 40px;
}